	html, body
	{
		color: #666666;
		height:100%;
	}
	h1 {
		font-size: 28px;
		padding: 6px 0px;
		font-style: italic;
		font-weight: 600;
		/* margin-top:10px; */
	}
	h3 {
		font-size:24px;
	}
  a, a:hover, a:active, a:focus,a:visited {
		 text-decoration: none;
		 color:#0075bc;
	}
	.ft-sz-12{		font-size: 12px;	}
	.ft-sz-14{		font-size: 14px;	}
	.ft-sz-16{		font-size: 16px;	}
	.ft-sz-18{		font-size: 18px;	}
	.ft-sz-20{		font-size: 20px;	}
	.ft-sz-22{		font-size: 22px;	}

	.box-header>h3{	 margin:0px;  	 }
	header i {
		margin-top:5px;
		cursor:pointer;
	}

	div#setting  .btn-secondary {
	color: #0075bc;
	background-color: #fff;
	border-color: #0075bc;
	width: 100px;
}
div#setting .form-group{
	margin:0 auto;
	text-align:center;

}
div#setting .btn-group{
	margin-top:30px;
}
div#setting .urlinput {
	margin-top:30px;

}
div#setting .urlinput>input{
	width:60%;
}
		div#setting  .btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #0075bc;
    border-color: #0075bc;
	}

	 ul#reclist li a {
		 float:right;
	 }
	 ul#reclist li .kg-rec {
 	 		line-height:1.1em;
			padding: 5px;
			margin:0;
	 }
	 ul#reclist li .kg-sub {
	 	line-height:1.4em;
	 	font-size:20px;
		padding-left:5px;
		background-color:#777;
		color:#fff;
		margin:0;
	}
	ul#reclist li {
		 line-height:1.6em;
		 width: 95%;
		 min-height: 50px;
		 margin-bottom:11px;
		 margin-left: 15px;
     border: 1px solid #d5d5d5;
		 background-color: #f7f7f7;
		 opacity:1;
		 text-align:left;
		 /* padding: 5px 10px; */
			transition: opacity 0.8s ease;
			overflow:hidden;

	 }
ul#reclist li.active {
	opacity:1;
	width:95%;
}
ul#eventlog {
	padding-left: 8px;
}
ul#eventlog li {
	line-height:1.1em;
			color:#838383;
}
ul#eventlog li.app span{
	color: #0075bc;  /* KGRID LIB */
}
ul#eventlog li.rec span{
	color: #20657e;  /*TEAL*/
}
ul#eventlog li.smart span{
	color: #ba5827; /* LSA Orange */
}
ul#eventlog li.phen span{
	color: #336699;
}
header  {
		position: relative;
		height: 50px;
		background-color:#e3e3e3;
}
::-webkit-scrollbar {
    width: 8px;
		height: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
/*     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
::-webkit-scrollbar-track {
      background-color: #fff;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
      background-color: #e6e6e6;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
    display:none;
      background-color: #e6e6e6;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
      background-color: #fff;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
.border-box
	{
		border: 1px solid steelblue;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 5px;
	}
.patient-row {
		margin-top: 8px;
		margin-bottom: 8px;
		padding-top:6px;
	}
	.resource-row {
		margin-bottom: 0px;
		background-color: #e3e3e3;
	}
	.resource-row span {
		margin-bottom: 10px;
		margin-left: 10px;
	}
	.resource-row p {
		font-size:20px;
		font-weight:500;
		margin-bottom:0px;
	}
	.patient-row span {
		margin-left: 10px;
	}
.pad-5 {
	padding-left: 5px;
	padding-right: 5px;
}
 div#stent-div {
		height:35px;
		padding:5px;
	}
	div.initInstr {
		padding: 100px;
		font-size: 18px;
		font-weight: 300;
	}
	.visual-field
	{
		margin-top: 0px;
		padding: 10px 5px;
		height:100%;
	}
	.viewtop {
		position:relative;
		background-color:#fff;
	}
	.viewtop.dimon {
		z-index:200;
	}
	.ht-full{
		height: 100%;
		min-height:544px;
	}
	.ht-g {
		min-height: 360px;
	}
	.ht-d {
		min-height: 420px;
	}
	.pad-l-0 {		padding-left: 0px;	}
	.pad-l-10 {		padding-left: 10px;	}
	.pad-l-20 {		padding-left: 20px;	}
	.pad-l-30 {		padding-left: 30px;	}
	.pad-r-0 {padding-right:0px;}
	.pad-right5 {		padding-right: 5px;	}
	.pad-top10 {		padding-top: 10px;	}
	.pad-top20 {		padding-top: 20px;	}
	.pad-top30 {		padding-top: 30px;	}
	.pad-top40 {		padding-top: 40px;	}
	div.input_div {
		background-color: #e3e3e3;
	}
	.gene-table td {
		font-weight:500;
		font-size:18px;
		line-height:1.5em;
		padding: 6px;
		opacity:0.3;
		transition: all 0.8s ease;
		color:#666666;
	}
	.gene-table td.active {
		opacity:1;
	}
	.gene-table td.pheno {
		width:50%;
		font-size:85%;
		text-align:center;
	}
	.gene-table td.active.selected {
		background-color:#0075bc;
		color:#fff;
		font-weight:600;
	}
	.gene-row, .drug-row {
		margin-top:8px;
		margin-bottom:8px;
		border:1px solid #e3e3e3;
	}
	.gene-table {
		width:90%;
		margin:0 auto;
	}
	.brd-b-1 {
		border-bottom: 1px solid #666666;
	}
	.gene-table tr {
		border-bottom: 1px solid #d5d5d5;
	}
	.gene-table tr:first-child {
		border-top: 1px solid #d5d5d5;
	}
	.gene-table tr.nobrd {
		border:none;
	}
		.gene-drug-table {
			margin:5px auto;
		}
	.gene-drug-table tr {
		height:30px;
		margin:2px auto;
		border-bottom: 1px solid #d5d5d5;
	}
	.gene-drug-table td, .gene-drug-table th {
		font-weight:500;
		font-size:18px;
		line-height:1.1em;
		padding: 4px 25px;
		opacity:1;
		transition: all 0.8s ease;
		color:#666666;
		text-align:center;
		min-width: 155px;
	}
	.gene-drug-table th {
		font-weight:700;
	}
	.noselect {
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	.box-header
	{
		padding: 10px;
		text-align: center;
	}
.container, .row {
	position:relative;
	max-width:1500px;
}
  .container-car {
		line-height: 32px;
		height: 32px;
		bottom:0px;
		width: 100%;
		position: fixed;
		background-color:#d5d5d5;
  }
  .knowledgeButton, .primaryButton {
    background-color: #fff;
    border: 1px solid #0075bc;
    color: #0075bc;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    width: 400px	;
		transition:all 0.6s ease;
}
.inline {
	    display: inline-block;
}
  .knowledgeButton:hover, .primaryButton:hover{
		color:#fff;
		background-color: #0075bc;
	}
.primaryButton {
	padding: 8px 10px;
	width: 100px;
	float:right;
	margin-right:-15px;
}
.float-r {		float:right; }
.float-l {		float:left; }
div#collapsestatus {
	width:100%;
	background-color: #e3e3e3;
}
div.statussec {
	border: none;
	margin-bottom: 44px;
}
div.statussec button, div.statussec button:hover,  div.statussec button:active,  div.statussec button:focus {
	width: 100%;
	border-radius: 0px;
	text-align: left;
	background-color: #e3e3e3;
    color: #666666;
    font-weight: 700;
		border-color: #e3e3e3;
		outline: none;
		box-shadow: none;
}
div#statuslog {
	background-color: #fff;
	position: relative;
	width: 100%;
	resize: none;
	padding: 4px 6px;
	border: 1px solid #e3e3e3;
	color: #666666;
	min-height: 120px;
	max-height:150px;
	font-weight: 500;
	line-height: 1.1em;
	font-size: 14px;
	margin: 0 auto;
	overflow: auto;
}
input[type=text]{
	text-align: center;
	background-color:#fafafa;
}
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
	margin:0;
}
.radio-group  label {
  color: #666666;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 2px 9px;
	margin:0;
	border: solid 1px #666666;
	border-radius: 50%;
	transition: all 0.5s ease;
}
.radio-group  label:hover {
  color: #0075bc;
	border: solid 1px #0075bc;
}
input[type=radio]:checked + label {
  color: #fff;
  background: #0075bc;
	border: solid 1px #0075bc;
}
.tab-title {
	position: relative;
	margin-bottom:30px;
}
div#phenospacer {
	height: 15px;
}
.radio-group {
  display: inline-block;
  margin: 10px 0px;
  border-radius: 0px;
  overflow: hidden;
}
.list-group {
	border: 1px solid #d5d5d5;
	height: 354px;
	overflow-y:auto;
	overflow-x:hidden;
	margin: 0px 15px;
	background-color:#fafafa;
	cursor:pointer;
}
.trig:hover {
	cursor:pointer;
}
.list-group-item {
	margin: 0px;
	padding:10px;
	border:none;
	background-color: #fafafa;
	transition: all 0.8s ease;
	border-radius: 0px;
}
.list-group-item:first-child {
	border-radius: 0px;
}
.list-group-item:hover {
	background-color:#d3d3d3;
}
.list-group-item.active {
	background-color:#0075bc;
}
/* flip card */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
.flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
.flip-container, .front, .back {
	width: 100%;
}
/* flip speed goes here */
.flipper {
	transition: 1.5s;
	transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.front, .back {

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
/* ============= */
.overlay {
	visibility:hidden;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	background-color:#000;
	opacity:0;
	transition: all 1.5s ease;
}
.overlay.dimonrec {
	visibility:visible;
	opacity:0.75;
	z-index:150;
}
.badge-pill {
	font-size:12px;
	top:-10px;
	position:relative;
}
span.new{
	    position: absolute;
	    background-color: #ba5827;
	    font-size: 10px;
	    opacity: 0;
	    padding: 0px 3px;
	    color: #fff;
	    transition: opacity 5s ease;
}
span.new.active{
	opacity:1;
	transition: opacity 0s ease;
}
ul.versionlist {
	list-style:none;
	display: inline-block;
	margin:0px;
	padding:10px;
}
ul.versionlist li {
	display:inline-block;
	width: 60px;
	padding:0px 10px;
	border:1px solid #d3d3d3;
	background-color:#fff;
	color:#d3d3d3;
	cursor:pointer;
	transition: all 0.6s ease;
}
ul.versionlist li:hover {
	background-color:#b3b3b3;
	color:#fff;
}
ul.versionlist li.active {
	border:1px solid #0075bc;
	background-color:#0075bc;
	color:#fff;

}
button,button:focus,button:active
{ border:none;
	outline:none;
	background-color:transparent;
	cursor:pointer;
}
.green {
	color:green;
}
/* overwirte */
.modal .col-auto {
	padding-left:0px;
	padding-right:0px;
}
.modal .tab-content{
	width:70%;
	padding:1px 1px;
	border: 1px solid #0075bc;
}
.modal#setting .tab-content{
	width:100%;
	padding:1px 1px;
	border: 1px solid #0075bc;
}
.modal .row {
	margin-left:0px;
	margin-right:0px;
}
.modal .tab-pane {
	padding:2px;
	overflow-x:hidden;
	height:400px;
	overflow-y:auto;
}
.modal .nav-pills .nav-link {
		background-color: #fff;
	    border-top-left-radius: 0px;
	    border-top-right-radius: 0px;
	    border-bottom-right-radius: 0px;
	    border-bottom-left-radius: 0px;

}
.modal .nav-pills .nav-link.active {
			background-color: #0075bc;
}
.modal pre {
	overflow: hidden;
}
.modal-footer {
	border-top:none;
}
.btn-primary.focus,  .btn-primary:focus,.btn.focus,.btn:focus{
	background-color:#0075bc;
	outline:none;
	box-shadow:none;
	color:#fff;
}
.btn-primary {
	background-color:#fff;
	color:#0075bc;
	border:1px solid #0075bc;
	transition: all 0.8s ease;
	border-radius:0px;
}
.btn-primary:hover {
	background-color:#0075bc;
	color:#fff;
	border:1px solid #0075bc;
}
