// Override
body
  #app
    @media screen and (min-width: 719px)
      max-width 1024px
      margin 0 auto
.sidebar
  @media screen and (min-width: 719px)
    left auto
.navbar
  @media screen and (min-width: 719px)
    max-width 1024px
    margin 0 auto
