<!DOCTYPE html>
<html>
<head>

  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  <link rel="stylesheet" href="./static/css/ca_style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <!-- <script src="./static/js/moment.min.js"></script> -->
  <script src="https://unpkg.com/lodash"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>CPIC Kit Demo App</title>
</head>
<body>
  <div id='app' style='position:relative;height:100%;'>
    <b-modal centered size="lg" v-model='settingShow' title='Setting' id="setting" ok-title='Apply Changes' @ok='savesetting'>
      <b-tabs pills>
        <b-tab title='Configure Activator'>
          <b-form-group label="">
               <b-form-radio-group id="radios1" buttons v-model="activatorselection" name="radioOpenions">
                 <b-form-radio value="default">{{options[0].text}}</b-form-radio>
                 <b-form-radio value="local">{{options[1].text}}</b-form-radio>
                 <b-form-radio value="custom">{{options[2].text}}</b-form-radio>
               </b-form-radio-group>
               <div class='urlinput'>
                 <span v-if='activatorselection=="default"'>{{options[0].url}}</span>
                 <span v-if='activatorselection=="local"'>{{options[1].url}}</span>
                 <input v-if='activatorselection=="custom"' type='text' v-model='activatorurl.custom' placeholder='Type in URL for the custom activator starting with http://'/>
               </div>
           </b-form-group>
        </b-tab>
      </b-tabs>
    </b-modal>
    <header>
      <div class="container color-scheme pad-l-30 header-title noselect">
        <h1>CPIC Kit Demo App
        <i class="fas fa-cog float-r" @click='showsetting'></i></h1>
      </div>
    </header>
    <div class="container">
      <div class="row gene-row">
        <div class="col-md-4 pad-l-0 pad-r-0">
          <div class="ht-g input_div">
            <div class=" box-header color-scheme">
              <div class="row">
                <div class="col-md-5 col-sm-7 noselect" style="line-height:3em;"><span> Autofill Sample</span></div>
                <div class="col-md-7 col-sm-7">
                  <div class="radio-group">
                    <input type="radio" id="option-zero" value="0" name="patient" v-model='autofillSelection'> <label class="noselect" for="option-zero">0</label>
                    <input type="radio" id="option-one" value="1" name="patient" v-model='autofillSelection'> <label class="noselect" for="option-one">1</label>
                    <input type="radio" id="option-two" value="2"  name="patient" v-model='autofillSelection'> <label class="noselect" for="option-two">2</label>
                    <input type="radio" id="option-three" value="3" name="patient" v-model='autofillSelection'> <label class="noselect" for="option-three">3</label>
                    <input type="radio" id="option-four" value="4" name="patient" v-model='autofillSelection'> <label class="noselect" for="option-four">4</label>
                  </div>
                </div>
              </div>
            </div>
            <table class='gene-table'>
              <tbody>
                <tr class='noselect'>
                  <th>Gene</th>
                  <th>Diplotype</th>
                  <th>Phenotype</th>
                </tr>
                <tr class=" " v-for='(value, key) in diplotypePanel'>
                    <td class='noselect' :class="{active:value!=''}" style='width:20%;'>{{key}} </td>
                    <td :class="{active:value!=''}" style='width:30%;'> <b-form-input  type="text" v-model='diplotypePanel[key]'>  </td>
                    <td  class='pheno noselect' style='width:50%;font-size:85%;text-align:center;' :class="{active:value!=''}">{{phenotypePanel[key]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 clear-fix  viewtop ht-d noselect">
                  <div class='row'>
                        <div class='col-md-1 col-sm-1 col-xs-1'></div>
                        <div class='col-md-10 col-sm-10 col-xs-10 pad-25 align-c' > <h4>CPIC Recommendations</h4> </div>
                        <div class='col-md-1 col-sm-1 col-xs-1'></div>
                  </div>
                  <div class="tab-pane active">
                        <ul id="reclist" style="list-style:none; width: 100%;overflow-y:auto;text-align:left;font-size: 18px;padding:0;max-height:780px;margin:0;">
                            <li v-for='(value, key, index) in recommendationlist' ><recomtile :recmodel='value' :reckey='key' :recindex='index'></recomtile></li>
                        </ul>
                  </div>
          </div>
    </div>
  </div>
  <div class="container">
    <div class="row statussec noselect">
      <b-btn v-b-toggle.collapsestatus > CPIC Demo APP LOG  <span style='margin-left:20px;font-weight:400;'> {{currentstatus}} </span> </b-btn>
      <b-collapse id="collapsestatus">
        <div id='statuslog'>
          <ul id='eventlog' style='list-style:none;'>
            <li v-for='entry in eventlog' :class='entry.key'>{{entry.timestamp}} <span>{{entry.text}}</span> </li>
          </ul>
        </div>
      </b-collapse>
    </div>
  </div>
  <footer class="container-fluid container-car color-scheme text-center">
    <p>University of Michigan Medical School 2018</p>
  </footer>
</div>
<template id='recomtile-template'>
		<div v-bind:id="recindex">
				<div class="row kg-sub">
					<div class="col-md-11 col-sm-11 col-xs-11 kgl-title kg-fg-color" data-toggle="tooltip"
							data-placement="top" v-bind:title="recmodel.status"><span>{{reckey}}</span>
					</div>
				</div>
				<div class="row kg-rec pad-top10" v-for='(value,key,index) in recmodel'>
          <div class="col-md-4 col-sm-4 col-xs-4 ">
            <span><small>{{key}}</small></span>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8 ">
            <span>{{value}}</span>
          </div>
				</div>
			</div>
	</template>
</body>
<script src="./static/js/cpic.js"> </script>
</html>
